/* Universal Selectors */
body {
    margin-top: 5rem;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: 'KoHo', sans-serif;
}

/* Title Selectors */
#title {
    font-size: 20px;
    color: red;
}

#titleDesc h2 {
    font-size: 55px;
}

#titleDesc h3 {
    font-size: 25px;
    color: red;
}

/* Password Output Selectors */
#passwordDiv {
    padding: 1rem;
    background-color: #f0f0f5;
    word-wrap: break-word;
}

#passwordDiv p {
    font-size: 25px;
}

/* Password Length Slider Selectors */
#sliderDiv {
    padding: 1rem;
}

#lenLabel {
    font-size: 20px;
    margin-right: 20px;
}

/* Password Character Selectors */
#inputTags {
    padding: 1rem;
}

/* Submit Button Selectors */
#submit {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f0f0f5;
}